*.Rdata
*.RData
*.sh
*.html
*.csv
*.Rhistory
*.bin
*.desc
*.png
*.tex
*.pdf
*.tiff
*.gz
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
*.fls
*.tiff
*.bib
*old/
*plots/
*plots_report/
*exclusion_plots.Rmd
*exclusion_plots.html
*web/
*joR/paper
*ttar/paper
