*.Rdata
*.sh
*.html
*.csv
*.Rhistory
*.bin
*.desc
*.png
*.tex
*.pdf
*.Rmd
*.tiff
*.gz
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
*.fls
*.tiff
*old/
*plots/
*exclusion_plots.Rmd
*exclusion_plots.html
*web/
*joR/paper
*cti/paper
*ttar/paper
toDo.txt
